.sport {
  background-color: darkblue;
}

.art {
  background-color: purple;
}

.fun {
  background-color: darkorange;
}
.card-header {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2% 5% 2% 5%;
}

.headerIcon {
  color: rgb(170, 206, 232);
  font-size: 1.5rem;
}

.headerTitle {
  color: white;
  font-size: 0.9rem;
}
